*
{
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,p
{
    margin: 0;
    padding: 0;
}

ol,ul
{
    list-style: none;
}

body,html{
    overflow-x: hidden;
}


#new_box
{
    margin-top: 50px;
}
.row
{
    margin-bottom: 30px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background: #faffff;
    -webkit-box-shadow: 12px 12px 33px #a0a3a3, -12px -12px 33px #ffffff;
    box-shadow: 12px 12px 33px #a0a3a3, -12px -12px 33px #ffffff;
    padding: 20px;
}


.author .profile .img
{
    width: 20%;
    padding-right: 10px;
}

.author .profile .img img
{
    border-radius: 20px;
}
.profile
{
    width: 30%;
}
.author .text p{
    font-size: 15px;
}

#total_news
{
    margin-bottom: 30px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background: #faffff;
    -webkit-box-shadow: 12px 12px 33px #a0a3a3, -12px -12px 33px #ffffff;
    box-shadow: 12px 12px 33px #a0a3a3, -12px -12px 33px #ffffff;
    width: 100%;
    height: 50px;
    margin-top: 50px;
    padding: 10px;
}

#total_news p
{
    font-size: 22px;
    font-weight: 600;
    color: #FF6F3F;
}

.news_title ul{
    display: flex;
    justify-content: space-between;
}






/* ------------------------------ */
/* responsive */
@media screen and (max-width:576px) {

    nav ul {
        text-align: center;
        margin: 10px 0;
    }
    .news_title ul
    {
        display: block;
        text-align: center;
    }
    .news_title ul li
    {
        margin: 7px 0;
    }
    
   
    /* .row .img
    {
        width: 100% !important;
    } */

    .author .profile .img
    {
        width: 25%;
    }

    .profile
    {
        width: 78%;
    }
    .author .text p{
        font-size: 12px;
    }


}