*
{
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,p
{
    margin: 0;
    padding: 0;
}

ol,ul
{
    list-style: none;
}

body,html{
    overflow-x: hidden;
}


#new_box
{
    margin-top: 50px;
}
.row
{
    margin-bottom: 30px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background: #faffff;
    -webkit-box-shadow: 12px 12px 33px #a0a3a3, -12px -12px 33px #ffffff;
    box-shadow: 12px 12px 33px #a0a3a3, -12px -12px 33px #ffffff;
    padding: 20px;
}

.author .profile .img
{
    width: 20%;
}

.author .profile .img img
{
    border-radius: 20px;
}
.profile
{
    width: 30%;
}